// TrackerGUI Resources - Embeds DLL and tools
#include "resource.h"

// Embed the DLL and executables as binary resources
// These paths are relative to the rc file location
IDR_DLL_TRACKER    RT_BINARY_DATA    "..\\bin\\Win32\\Release\\DreadmystTracker.dll"
IDR_EXE_INJECTOR   RT_BINARY_DATA    "..\\bin\\Win32\\Release\\Injector.exe"
IDR_EXE_UNLOADER   RT_BINARY_DATA    "..\\bin\\Win32\\Release\\Unloader.exe"
